footer {
    background-color: #221b1b ;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top:350px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-links li {
    margin: 0 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  
  }