
/* navbar */




.navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #2447FF; 
     
    padding: 20px;
    color: #ffffff;
    margin-bottom: 20px;
 
    

  }

  nav ul {
    list-style: none;
    display: flex;
  }

  nav ul li {
    margin-right: 20px;
  }

  nav ul li a {
    text-decoration: none;
    color: #fff;
    position: relative; 

  }

  nav ul li a:hover {
    color: #151515; 
  }
  
  .nav1 {
    display: flex;
    justify-content: center;
    align-items: start;
   margin-right: 520px;
   
  }


  nav ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000; 
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }
  

  nav ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }





 .t1 {
background-color:rgb(41, 41, 41);
padding: 10px;
border-radius: 8px;
 }

.t2 {
background-color:#00358a7d;
padding: 10px;
border-radius: 8px;

}







.navbar .nav1 a:hover {
    color: #262626; 
  }

.hhh {
top: 400px;



}





