.dt1 {
text-align: center;



}



.cardt1 {
    /* background-color: bisque; */
    width: 330px;
    height: 230px;
    text-align: center;
    border-radius: 12px;
    margin: 40px;
    border: black solid 1px;
    display: inline-block ;

    }



.pcolor {
color: #76b740;



}

.khd {
color: #575757;



}









