.name{
  
  text-align: center;
  /* margin-left: 60px; */

}

.di{

display: flex;
justify-content: space-around;
align-items: center;
margin-bottom: 20px;
margin-right: 70px;
margin-top: 40px;
}

.di1{

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: 80px;
  }

.neme12{

height: 80px;
width: 90px;
}
body{
  background-color: rgb(255, 255, 255);
}
.img67{
  margin: 60px;
width: 1440px;
height: 140px;
}